@media only screen and (min-width: 500px) {
  .motto {
    h2 {
      font-size: 40px;
    }
  }
  .home-page {
    .section {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      .section-content {
        transition-property: all;
        transition-duration: 1s;
      }
      .section-content:hover {
        transform: translateY(-18px);
      }
    }
  }
}

@media only screen and (max-width: 999px) {
  .motto {
    padding-right: 10px;
    h2 {
      font-size: 30px;
    }
  }
}

.home-page {
  height: auto;

  .section {
    .section-content {
      margin: 10px;
      background-color: #fff;
      padding: 12px;
      border-radius: 5px;
      box-shadow: 2px 2px 4px grey;

    }
    .flex {
      display: flex;
      justify-content: space-between;
      font-size: 25px;
      margin-bottom: 8px;
      padding-bottom: 8px;
      border-bottom:3px red solid;

      
    }
    p{
      text-align: center;
      button{
        padding: 8px;
        margin: 8px;
        border: none;
        background-color: teal;
        border-radius: 5px;
      }
      button:hover{
        transform: scale(.9);
      }
    }
    
  }
}

.motto-wrapper {
  position: relative;
  background-image: url("home-bg.jpeg");
  background-size: cover;
  height: 200px;

  .motto {
    text-align: right;
    position: relative;
    height: auto;
    animation: motto-slide;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    right: -800px;

    h2 {
      color: #fff;
      position: relative;
      top: 40px;
    }
  }
}

.motto-wrapper::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@keyframes motto-slide {
  from {
    right: -800px;
  }
  to {
    right: 0px;
    text-align: right;
  }
}
