@media only screen and (min-width: 700px) {
  .individual-projects {
    .project-item {
      max-width: 400px;
      margin: 8px;
    }
    .projects-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.individual-projects {
  .project-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  figure {
    background-color: #fff;
    border-radius: 5px;
    // box-shadow: 2px 2px 4px grey;
    transition-property: all;
    transition-duration: 1s;
    img {
      width: 100%;
    }
  }
  figure:hover {
    transform: translateY(-18px);
  }
}
