.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    .item{
      position: absolute;
      top:40vh;
      
      .dots{
        border: 10px solid black;
        border-radius: 50%;
        animation: spinner;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        display: inline-block;
        margin: 2px;
      }
      .dots:nth-child(2){
        border-color: grey;
        animation-delay: .4s;
      }
      .dots:nth-child(3){
        animation-delay: .6s;
      }
    }
  }

  @keyframes spinner {
    to{
      transform:translateY(20px)
    }
  }
  