@import "reset";
@import "utilities";
@import "header";
@import "footer";
@import "home";
@import "spinner";
@import "profile";
@import "careers";
@import "contacts";
@import "services";
@import "projects";
@import "individualProject";

body {
  background-color: #eee;
  p {
    line-height: 1.6em;
  }
  font-family: "Raleway", sans-serif;
}

.slide-page {
  animation: slide;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slide {
  to {
    opacity: 1;
  }
}
